* {
  margin: 0px;
  padding: 0px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  /* border: 1px solid red; */
  margin: auto;
  padding: 10px 0px;
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 999;
}
.logo {
  display: flex;
  /* padding: 15px 108px; */
  /* border: 1px solid red; */
}
.accioname {
  color: #012555;
  font-family: Bai Jamjuree;
  font-size: 21.714px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px; /* 175% */
  letter-spacing: -0.869px;
  border-right: 1px solid #dadada;
  padding-inline: 10px;
}
.nav-col2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/* .nav-link{
    border: 1px solid green;
} */
.nav-link ul {
  display: flex;
}
.nav-link > ul > li {
  list-style-type: none;
  padding-inline: 10px;
}
.nav-link ul li a {
  text-decoration: none;

  color: #4f4f4f;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 155%; /* 24.8px */
  letter-spacing: 0.16px;
}
.nav-link ul li a:hover {
  background-color: rgb(233, 233, 233);
  padding-bottom: 5px;
  border-bottom: 1px solid blue;
}

.login-btn button {
  color: #2f80ed;
  font-family: ABeeZee;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  border: none;
  background-color: transparent;
}
.login-btn {
  display: flex;
  padding: 15px 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 2px solid #2f80ed;
}

.announcement-text {
  color: #fff;
  font-family: ABeeZee;

  /* text-align: center; */
  margin: auto;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 100%; /* 21px */
  letter-spacing: 0.28px;
  padding: 10px 0px;
}
.announcement {
  display: flex;
  /* width: 1440px; */
  /* padding: 8px 562px; */
  align-items: flex-start;
  gap: 10px;
  background: #2f80ed;
}


#course-text {
  color: #2f80ed;
  font-family: ABeeZee;
  font-size: 50px;
  font-style: italic;
  font-weight: 400;
  line-height: 130%; /* 65px */
  letter-spacing: -0.75px;
}
#course-text span {
  color: #2b2f34;
}

.hero-section {
  display: flex;
}
.hero-text {
  flex: 3;
  /* border: 1px solid green; */
}
.hero-row-1 {
  width: 80%;
  margin: auto;
  margin-top: 15%;
  color: #2b2f34;
  font-family: ABeeZee;
  font-size: 50px;
  font-style: italic;
  font-weight: 400;
  line-height: 130%; /* 65px */
  letter-spacing: -0.75px;
}

.hero-row-2 {
    
  width: 80%;
  margin: auto;
  margin-top: 1%;
}

.hero-form {
  flex: 2;
}

.hero-features {
  display: flex;
  /* height: 77px; */
  width: 80%;
  margin: auto;
  margin-top: 3%;
  /* padding: 15px 20px; */
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;

  
  /* border: 1px solid #e2e2e2; */
  background: #fff;
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.08);
}
.for-arrow {
  position: relative;
  z-index: 2;
}

.arrow-img {
  z-index: -1;
  position: absolute;
  top: -85%;
  right: 3%;
}
.feature {
  display: flex;
  align-items: center;
  justify-content: center;

}



.f-row1 {
    

  color: #2b2f34;
  font-family: ABeeZee;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 100%; 
}
.f-row2 {
  color: #4f4f4f;
  

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 18.6px */
  letter-spacing: 0.12px;
}

.hero-madeby {
  /* display: flex; */

  margin-left: 10%;
  margin-top: 10%;
  width: fit-content;
  /* margin:auto; */
  border-radius: 23px;
  background: #fff;
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.12);
  padding: 10px 20px;
}
.hero-madeby-text {
  color: #525252;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}

.hero-form {
  /* background-image: linear-gradient(276.97deg,#992fed,#2f80ed); */
  margin: 90px 0px;
}
.hero-form-frame {
  margin: auto;
  border-radius: 18px;
  background: #fff;

  box-shadow: -5px -5px 30px 5px rgb(248, 211, 211), 5px 5px 30px 5px blue;
  /* box-shadow: 0px 25px 54px 0px rgba(0, 0, 0, 0.12); */
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  padding: 28px 24px 32px 24px;
}

.hero-form-frame-section1-upper {
  color: #2b2f34;
  text-align: center;
  font-family: ABeeZee;
  font-size: 32px;
  font-style: italic;
  font-weight: 400;
  line-height: 150%; /* 48px */
  letter-spacing: -0.48px;
  padding: 10px;
}

.hero-form-frame-section1-lower {
  color: #818d9d;
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  padding: 10px;
}

.hero-form-frame-section2-1 {
  border-radius: 8px;
  background: #fafafa;
  display: flex;
  width: 80%;
  padding: 14px 6px 14px 10px;
  align-items: center;
  gap: 10px;
  border: none;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hero-form-frame-section2-button {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 14px 6px 14px 16px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  color: white;
  border-radius: 8px;
  background: linear-gradient(277deg, #992fed 0%, #2f80ed 100%);
  margin-top: 20px;
  margin-bottom: 10px;
}

.hero-form-frame-section2-2 {
  color: #818d9d;
  text-align: center;
  width: 60%;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  margin: auto;
  padding: 10px;
}

.hero-form-frame-section2-2 span {
  color: #2f80ed;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

/* Section 3 courses card */


.courses-offered {
    display: flex;
    padding: 80px 0px 78px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    background: #ecf8ff;
    margin-top: 100px;
  }

  
  .courses-offered>div:first-child>p {
    text-align: center;
    font-family: ABeeZee;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    background: linear-gradient(277deg, #992fed 0%, #2f80ed 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .courses-offered>div:first-child>h1 {
    color: #2f80ed;
    text-align: center;
    font-family: ABeeZee;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.54px;
  }
  
  .card1 {
    position: relative;
    max-width: 498px;
    height: 563px;
    border-radius: 9px;
    border: 1px solid #E2E2E2;
    background: #fff;
    padding: 10px;
    margin-left: 15px;
  }
  .card1:hover{
    border:1px solid blue;
  }
  .upper-text{

    color: #FFF;
  font-family: ABeeZee;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  
    border-radius: 7px;
  border: 2px solid #2F80ED;
  background:  #2F80ED;
  display: inline-flex;
  padding: 6px 15px;
  align-items: flex-start;
  gap: 18px;
  
  position:absolute;
  top:-15px;
  right:24%;
  
  }
  
  .card1>div:first-child>img {
    margin: -60px 0px 0px 20px;
  }
  
  .card1>h1 {
    color: #2b2f34;
    font-family: ABeeZee;
    font-size: 26px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
  }
  
  .card1>div:nth-child(3)>div {
    display: flex;
    padding: 6px 15px;
    align-items: flex-start;
    gap: 18px;
    border-radius: 7px;
    background: #e0f3ff;
    color: #1d78b0;
    font-family: ABeeZee;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 10px;
  }
  
  .card1>p {
    color: #565656;
    font-family: ABeeZee;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 10px;
  }
  
  .details {
    width: 90%;
  }
  
  .details>div>p:first-child {
    color: #000;
    font-family: ABeeZee;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
  }
  
  .details>div>p:last-child {
    color: #2b2f34;
    font-family: ABeeZee;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    width: 175px;
  }
  
  .buttons>button:nth-child(1) {
    display: flex;
    width: 203px;
    padding: 14px 6px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #2f80ed;
    background: #fff;
    color: #2f80ed;
    font-family: ABeeZee;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
  }
  
  .buttons>button:nth-child(2) {
    display: flex;
    width: 210px;
    padding: 14px 6px 14px 16px;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border: none;
    border-radius: 8px;
    background: #2f80ed;
    color: #fff;
    font-family: ABeeZee;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
    margin-left: 10px;
  }
  
  .card2 {
    max-width: 498px;
    height: 563px;
    border-radius: 9px;
    border: 1px solid #E2E2E2;
    background: #fff;
    padding: 30px 10px 10px 10px;
    margin-left: 15px;
  }
  
  .card2:hover{
    border:1px solid blue;
  }
  .card2>h1 {
    color: #2b2f34;
    font-family: ABeeZee;
    font-size: 26px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
  }
  
  .card2>div:nth-child(2)>div {
    display: flex;
    padding: 6px 15px;
    align-items: flex-start;
    gap: 18px;
    border-radius: 7px;
    background: #ffeed8;
    color: #965400;
    font-family: ABeeZee;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 10px;
  }
  
  .card2>p {
    color: #565656;
    font-family: ABeeZee;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 10px;
  }
  
  .details {
    width: 90%;
  }
  
  .details>div>p:first-child {
    color: #000;
    font-family: ABeeZee;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
  }
  
  .details>div>p:last-child {
    color: #2b2f34;
    font-family: ABeeZee;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    width: 175px;
  }
  
  .buttons>button:nth-child(1) {
    display: flex;
    width: 203px;
    padding: 14px 6px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #2f80ed;
    background: #fff;
    color: #2f80ed;
    font-family: ABeeZee;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
  }
  
  .buttons>button:nth-child(2) {
    display: flex;
    width: 210px;
    padding: 14px 6px 14px 16px;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border: none;
    border-radius: 8px;
    background: #2f80ed;
    color: #fff;
    font-family: ABeeZee;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
    margin-left: 10px;
  }
  
  .buttons>button:nth-child(1):hover {
    scale: 1.1;
  }
  
  .buttons>button:nth-child(2):hover {
    scale: 1.1;
  }
  

/* Second last footer */

#partner-row1{
    text-align: center;
    font-family: ABeeZee;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.28px;
    text-transform: uppercase;

    background: linear-gradient(277deg, #992fed 0%, #2f80ed 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#partner-row2{
    color: #2B2F34;
text-align: center;
font-family: ABeeZee;
font-size: 42px;
font-style: italic;
font-weight: 400;
line-height: 150%; /* 63px */
letter-spacing: -0.63px;
}

#partner-row2 span{
    color: #2F80ED;
font-family: ABeeZee;
font-size: 42px;
font-style: italic;
font-weight: 400;
line-height: 150%;
letter-spacing: -0.63px;
}
#partner-row3{
    color:  #595959;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 23.4px */
letter-spacing: 0.36px;
}


/* slideshow */
.container {
    overflow: hidden;
    display: flex;
    height: 5%;
    width: 100%;
    
    
    
  }
  
  .container div {
    height: 10%;
    min-width: 15%;
    margin-left: 100px;
    animation: slide 15s linear infinite;
  }
  .container div img{
    width:100%;
  }
  
  .pink {
    background-color: pink;
  }
  
  .blue {
    background-color: blue;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .orange {
    background-color: orange;
  }
  
  .purple {
    background-color: purple;
  }
  
  .aqua {
    background-color: aqua;
  }
  
  @keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-1500px, 0, 0); /* The image width */
    }
  }
  

/*  */


.Partner-Companies button{
    color:white;
    display: flex;
    width: 17%;
    padding: 14px 6px 14px 16px;
    justify-content: center;
    align-items: center;
    
    border-radius: 8px;
    background:  #2F80ED;
    border:none;
    margin:auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

#footer-row1{
    color:  #2B2F34;
text-align: center;
font-family: ABeeZee;
font-size: 42px;
font-style: italic;
font-weight: 400;
line-height: 150%; /* 63px */
letter-spacing: -0.63px;
}
#footer-row2{
    margin-bottom: 10%;
    color: #595959;
    text-align: center;

font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 23.4px */
letter-spacing: 0.36px;
}

/* cards */
.card-container{
    box-sizing: border-box;
    /* display: flex; */
    /* border:10px solid red; */
    width:100%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
   
   
    /* justify-content: space-between; */
    /* align-items: center; */
    
    /* margin-left:5%; */
    
   
}
.courses-card{
    
    width:30%;
    /* height: 15%; */
    
    border-radius: 10px;
   
    border: 2px solid #D7D7D7;
    background: #FFF;
    box-shadow: 5px 9px 40px 0px rgba(0, 0, 0, 0.08);

    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    position: relative;
    margin: 1%;
    
}
.first-row{
    display: flex;   
    align-items: center;
    flex-wrap: wrap;
    /* width: 125%; */
    /* border: 1px solid black; */
    /* height: 45%; */
}
.first-row img{
    width: 64px;
    height: 64px;
}
.user-name{
    margin-left:8px;
    color: #000;
    font-family: ABeeZee;
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: 100%; /* 33px */
}

.user-designation{
    margin-left:8px;
    color: #676767;
    text-align: center;
    
    font-size: 16px;
    font-style: normal;
    font-weight: 602;
    line-height: 100%; /* 24px */
}

.social-links-images{
    width: 26px;
height: 26px;
position: absolute;
left: 90%;
top:8px;
}

.card-description-text{
    color: #676767;
    
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.card-date{
    color: #676767;

font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 18px */
}


/* Media responsive */

@media screen and (max-width: 480px) {
    nav {
      /* display: none; */
      width: 480px;
      flex-direction: column;
    }
    .nav-col2 {
      flex-direction: column;
    }
    .nav-link ul {
      /* flex-direction: column; */
     
  
      flex-wrap: wrap;
    }
    .nav-link ul li a {
      padding-inline: 10px;
      text-align: center;
      align-items: center;
      justify-content: center;
    }

    .hero-section{
        flex-direction: column;
    }
    .for-arrow{
        margin: 10%;
        
    }
    .body-slide-container {
      
      height:50px;
    }
    .container{
      height:50%;
    }
    #placement-btn{
      margin-top: 50px;
      width:80%;
      
    }
    
  }
  

